@import '../../styles/config.scss';

.login-container {
	@include FlexCenter;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	//@include DBorder;


	.logo{
		width: 40rem;
		height: 20rem;
		background-image: url('../../assets/logo.png');
		background-size: cover;
		background-repeat: no-repeat;
	
		@media screen and (max-width: $tabletSize) {
			width: 30rem;
			height: 15rem;
		}

		@media screen and (max-width: $smallMobileSize) {
			width: 20rem;
			height: 10rem;
		}
	}

	#login-center-container {
		// @include DBorder;
		width: 70%;
		padding: 5rem;
		box-sizing: border-box;
		@include FlexCenter;
		flex-direction: column;

		@media screen and (max-width: $tabletSize) {
			width: 90%;
			padding: 1.5rem;
		}

		h1 {
			font-size: 1em;
			font-weight: 700;
			margin-bottom: 2rem;

			@media screen and (max-width: $tabletSize) {
				width: 100%;
				font-size: 1rem;
			}

			@media screen and (max-width: $smallMobileSize) {
				width: 20rem;
				font-size: .4rem;
			}
		}

		span {
			font-size: 1.5rem;
			font-weight: 200;

			@media screen and (max-width: $tabletSize) {
				font-size: 2em;
			}

			@media screen and (max-width: $smallMobileSize) {
				font-size: 1rem;
			}
		}

		.login-button {
			margin-top: 2rem;
			width: 50%;
			height: 4rem;

			@media screen and (max-width: $tabletSize) {
				width: 100%;
			}
		}
	}
}