@import '../../styles/config.scss';

.seachbar-container {
	// background: $white;
	width: auto;
	padding: 1rem;
	
	input{
		font-size: 1.2rem;
		height: 2rem;
		width: 20%;
		border-radius: 3rem;
		border: 0;
		// border: 1px solid;
		// border-color: $darkGray;
		padding: 0.5rem 2rem;
		box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.3);
		transition: all 0.1s ease-in-out;
		font-family: 'Roboto';
		font-weight: 600;
	}

	input:focus {
		outline: 0;
		border: 0;
		transform: scale(1.05);
	}

	button {
		background: $primaryColor;
		height: 3rem;
		width: 8rem;
		margin-left: 1rem;
		border-radius: 3rem;
		color: white;
		box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.3);
		transition: all 0.2s ease-in-out;
	}

	button:hover {
		transform: scale(1.1);
	}
}