@import '../../styles/config.scss';

.like-container {
	background: $primaryColor;
	height: 2rem;
	width: 2rem;
	display: grid;
	place-items: center;
	border-radius: 2rem;
	color: white;
	box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.3);
	transition: all 0.2s ease-in-out;
	
	.like-container-icon {
		height: 1rem;
		width: 1rem;
	}
}

.like-container:hover {
	transform: scale(1.1);
}
