@import '../../styles/config.scss';

.like-container {
	background: $primaryColor;
	height: 3rem;
	width: 3rem;
	display: grid;
	place-items: center;
	border-radius: 3rem;
	color: white;
	box-shadow: 0 0.5rem 3rem 0 rgba(0,0,0,0.3);
	transition: all 0.2s ease-in-out;
	font-size: 1.2rem;
}

.like-container:hover {
	transform: scale(1.1);
	font-size: 1.6rem;
}
